@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__nuxt {
    height: 100%;
}

body {
    background: #212534;
}

*{
    outline: none;
    box-shadow: none;
    user-select: none;
}